.containerFooter {
    background-color: #2D314E;
    height: 70vh;
}

.containerContentFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.containerLeftFooter {
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.containerRightFooter {
    width: 70vw;
}

.marginFooter {
    margin: 5vh 2vw;
}

.logoNetFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33vw;
}

.logoFooter {
    display: flex;
    align-items: center;
}

.logoFooter p {
    color: white;
    font-size: 1.3rem;
    font-weight: 800;
}

.netFooter {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-around;
    height: 25vh;
    left: 0;
    margin: 10px;
}


.linksFooter {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
}

.linksFooter ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    list-style: none;
}

.linksFooter ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.btnCopyFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btnCopyFooter span {
    margin-top: 2vh;
    color: white;
}
.iconNet{
    width: 4vw;
    height: 3vh;
    color: rgb(255, 255, 255);
}
.iconNet:hover{
    color: #77BDA3
}
.linksFooter ul li a:hover {
    color: #77BDA3
}

@media screen and (min-width: 800px) {
    .containerFooter {
        background-color: #2D314E;
        height: auto
    }
    
    .containerLeftFooter {
        width: 45vw;
        flex-direction: row;
        align-items: flex-start;
    }
    
    .containerContentFooter {
        flex-direction: row;
        align-items: flex-start;
    }

    .marginFooter {
        margin: 6vh 5vw;
    }

    .containerRightFooter {
        width: 30vw;
    }
    .logoNetFooter {
        display: flex;
        flex-direction: column;
        height: 20vh;
        justify-content: space-between;
        width: 13vw;
    }
    .netFooter {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0px;
        height: auto;
    }
    .linksFooter {
        display: flex;
        flex-direction: row;
        width: 25vw;
        height: 20vh;
        justify-content: space-between;
        align-items: center;
    }
}