/* Component Welcome */
.containerHome{
    background-color: #F4F5F7;
}
.containerWelcome {
    display: flex;
    width: 100vw;
    height: 90vh;
    justify-content: center;
}
.containerImages{
    display: none;
}
.containertextWelcome{
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.centertextWelcome{
    flex-direction: column;
}
.centertextWelcome h2{
    font-size: 3rem;
}
.text{
    margin: 20px 0px;
}


/* Component Presentation*/

.containerPresentation{
    background-color: #FAFAFA;
    overflow: hidden;
}
.containerTextPresentation{
    margin: 15vh 0vw;
}
.textPresentation{
    margin: 5vh 0vh;
}
.textPresentation h2{
    font-size: 3rem;
    text-align: center;
}
.textPresentation span{
    font-size: 1.2rem;
    letter-spacing: 2px;
}
.spanPresentation{
    margin: 10px;
    width: 100vw;
}
.containerCardsPresentation{
    width: 90vw;
}
.cardsPresentation{
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.iconPresentation{
    width: 15vw;
    height: 15vw;
    margin: 30px 0px;
    border-radius: 50%;
    background-image: linear-gradient(to right top, #31cf70, #00cc94, #00c7b0, #00c1c2, #2cb9cb);
    justify-content: center;
    align-items: center;
    display: flex;
}
.cardsPresentation p{
    margin-top: 10px;
    text-align: center;
}


/* Component Articles */



.containerLastArticles{
    background-color: #F4F5F7;
}
.containerTextLastArticles{
    margin: 5vh 0vw;
}
.containerTitleLastArticle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.containerTitleLastArticle h2{
    font-size: 3rem;
    
}

















@media screen and (min-width: 800px) {
    .containerWelcome {
    width: 90vw;
    max-width: 100vw;
    display: flex;
    height: 90vh;
    justify-content: space-between;
    }
    .containertextWelcome{
        width: 40vw;
        margin-left: 120px;
    }
    .containerImages{
        display: block;
        width: 40vw;
    }
    .containerImages img{
        position: absolute;
        width: 50vw;
    }
    .centertextWelcome h2{
        font-size: 4rem;
        font-weight: 600;
    }


    .containerTextPresentation{
        margin: 15vh 5vw;
    }
    .textPresentation h2{
        font-size: 3rem;
        font-weight: 600;
        text-align: start;
    }
    .spanPresentation{
        width: 60vw;
    }
    .containerCardsPresentation{
        height: 50vh;
        padding: 10px;
        display: flex;
        justify-content: space-around;
    }
    .cardsPresentation{
        width: 20vw;
        margin: 10px;
        align-items: flex-start;
    }
    .cardsPresentation h4{
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .cardsPresentation p{
        word-spacing: 3px;
        line-height: 25px;
        text-align: start;
    }
    .iconPresentation{
        width: 5vw;
        height: 5vw;
    }


    
    .containerTextLastArticles{
        margin: 15vh 5vw;
    }
}