.containerCard{
    width: 90vw;
    margin: 5vh 0px;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 60vh;
}
.imageCard{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 30vh;
    width: 100%;
}
.containerTextCard{
    padding: 20px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    
    
}
.textCard {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.textCard span{
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.15rem;
    
}
.textCard h4{
    font-size: 1.5rem;
    margin: 10px 0px;
}
.textCard p{
    color: rgb(102, 101, 101);
    height: 10vh;
    overflow-wrap: break-word;
}
@media screen and (min-width: 800px){
    .containerCard{
        width: 20vw;
        margin: 0vh 0px;
    }
}