.containerNav {
    display: flex;
    width: 100vw;
    height: 10vh;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.logoNav {
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: center;
    align-items: center;
    width: 200px;
}
.containerLogo{
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: center;
    align-items: center;
    width: 50px;
    
}
.paralelogramoLeft {
    background-image: linear-gradient(to right top, #31cf70, #00cc94, #00c7b0, #00c1c2, #2cb9cb);
    -webkit-transform: skew(-25deg);
    -moz-transform: skew(-25deg);
    -ms-transform: skew(-25deg);
    -o-transform: skew(-25deg);
    transform: skew(-25deg);
}
.paralelogramoMid {
    background-image: linear-gradient(to right top, #31cf70, #00cc94, #00c7b0, #00c1c2, #2cb9cb);
    -webkit-transform: skew(-25deg);
    -moz-transform: skew(-25deg);
    -ms-transform: skew(-25deg);
    -o-transform: skew(-25deg);
    transform: skew(-25deg);
}
.paralelogramoRight {
    background-image: linear-gradient(to right top, #31cf70, #00cc94, #00c7b0, #00c1c2, #2cb9cb);
    -webkit-transform: skew(-25deg);
    -moz-transform: skew(-25deg);
    -ms-transform: skew(-25deg);
    -o-transform: skew(-25deg);
    transform: skew(-25deg);
}
.logo{
    width: 7px; 
    height: 25px;
    margin: 1.4px;  
}
.logoNav p{
    margin-left: 1px;
    font-size: 1.3rem;
    font-weight: 800;
    color: rgb(41, 41, 41);
}
.routesNav {
    display: flex;
    list-style: none;
    width: 40vw;
    justify-content: space-around;
}
.routesNav li{
    height: 9vh;
    width: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.routesNav li a {
    text-decoration: none;
}
.routesNav li:hover{
    border-bottom: #00c1c2 2px solid;
}
.routesNav li:hover a{
    color: rgb(41, 41, 41);
}

@media screen and (min-width: 800px) {
    .logoNav {
        flex-direction: row;
        font-size: 1.3rem;
        font-weight: 600;
    }

    .routesNav li a {
        text-decoration: none;
        font-weight: 600;
    }
}