.containerNav{
    display: flex;
    width: 100vw;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(29, 26, 24);
    color: wheat;
}
.logoNav{
    margin-left: 5vw;
    font-size: 2rem;
    font-weight: 600;
}
.routesNav{
    display: flex;
    list-style: none;
    width: 50vw;
    justify-content: space-around;
    margin-right: 3vw;
}
.routesNav li a{
    color: wheat;
    text-decoration: none;
    font-size: 1rem;
}

@media screen and (min-width: 800px) {
    .logoNav{
        font-size: 3.2rem;
    }
    .routesNav li a{
        color: wheat;
        text-decoration: none;
        font-weight: 600;
        font-size: 1.5rem;
    }
  }