.containerImages {
    display: none;
}

.containerWelcome {
    display: flex;
    width: 100vw;
    height: 90vh;
    justify-content: center;
}

.centertextWelcome {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
}


@media screen and (min-width: 800px) {
   
    .containerImages {
        display: flex;
    }

    .containerImages img {
        position: absolute;
        width: 40vw;
    }
    .centertextWelcome h2 {
        font-size: 4rem;
        font-weight: 600;
    }
}