.welcome{
    background: #FAFAFA;
}
.containerImages {
    display: none;
}
.centertextWelcome {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
}


@media screen and (min-width: 800px) {
   
    .containerImages {
        display: flex;
    }

    .containerImages img {
        position: absolute;
        width: 45vw;
        right: 0;
        top: 0;
        margin-top: 10vh;
    }
    .centertextWelcome h2 {
        font-size: 4rem;
        font-weight: 600;
    }
}