.containerHome {
    background-color: #F4F5F7;
    margin: 0vh 8vw;
}


/****************************** Component LastArticles ******************************************/





@media screen and (min-width: 800px) {
   
    .containerListArtLast {
        padding: 1.5vh 1.5vw;
        border: 1px solid rgb(196, 196, 196);
        border-radius: 10px;
        display: grid;
        grid-template-columns: 1fr repeat(2, 2fr) 1fr 0.3fr 0.1fr;
        grid-template-rows: repeat(7, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 10px;
        align-items: center;
    }
    .containerListArtLast p {
        font-size: 1rem;
    }
    .containerListArtLast span {
        font-size: 1rem;
    }
    .containerListArtLast h4 {
        font-size: 1.2rem;
    }
    
}