.containerHome {
    background-color: #F4F5F7;
    margin: 0vh 3vw;
}


/****************************** Component LastArticles ******************************************/





@media screen and (min-width: 800px) {
    .containerHome {
        margin: 0vh 8vw;
    }
}