.presentation{
    background: #F4F5F7;
}
.cards_container {
    width: 90vw;
    overflow: hidden;
}

/*********** Card  ************/

.cardPresent__center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardPresent__container {
    width: 90vw;
    height: 35vh;
    flex-direction: column;
}
.cardPresent__icon {
    width: 15vw;
    height: 15vw;
    margin: 30px 0px;
    border-radius: 50%;
    background-image: linear-gradient(to right top, #31cf70, #00cc94, #00c7b0, #00c1c2, #2cb9cb);
}
.cardPresent__container p {
    margin-top: 10px;
    text-align: center;
}
@media screen and (min-width: 800px) {
    .cards__container {
        display: flex;
        justify-content: space-between;
    }
    .cardPresent__container {
        width: 20vw;
        height: auto;
        align-items: flex-start;
    }
    .cardPresent__container h4 {
        font-weight: 600;
        margin-bottom: 10px;
    }
    .cardPresent__container p {
        word-spacing: 3px;
        line-height: 25px;
        text-align: start;
    }
    .cardPresent__icon {
        width: 5vw;
        height: 5vw;
    }
}