.containerPresentation {
    overflow: hidden;
}


.textPresentation {
    margin: 5vh 0vh;
}

.textPresentation span {
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.spanPresentation {
    width: 100vw;
}

.containerCardsPresentation {
    width: 90vw;
    overflow: hidden;
}

.cardsPresentation {
    width: 90vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iconPresentation {
    width: 15vw;
    height: 15vw;
    margin: 30px 0px;
    border-radius: 50%;
    background-image: linear-gradient(to right top, #31cf70, #00cc94, #00c7b0, #00c1c2, #2cb9cb);
    justify-content: center;
    align-items: center;
    display: flex;
}

.cardsPresentation p {
    margin-top: 10px;
    text-align: center;

}

@media screen and (min-width: 800px) {
    .textPresentation h2 {
        font-size: 3rem;
        font-weight: 600;
        text-align: start;
    }

    .spanPresentation {
        width: 60vw;
    }

    .containerCardsPresentation {
        display: flex;
        justify-content: space-between;
    }

    .cardsPresentation {
        width: 20vw;
        height: auto;
        margin: 10px;
        align-items: flex-start;
    }

    .cardsPresentation h4 {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .cardsPresentation p {
        word-spacing: 3px;
        line-height: 25px;
        text-align: start;
    }

    .iconPresentation {
        width: 5vw;
        height: 5vw;
    }
}