.container{
    margin: 0px 2vw;
}
.container__styles{
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
}
.container__nav{
    max-height: 10vh;
}
.container__footer{
    flex-direction: column;
}
@media screen and (min-width: 800px) {
    .container{
        margin: 0px 8vw;
    }
    .container__footer{
        flex-direction: row;
        height: 25vh;
    }
}