.footer {
    background-color: #2D314E;
}
.footer__Mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer__height{
    height: 10vh;
    margin: 20px 0px;
}
.footer__container {
    align-items: center;
}

.footer__containerLogo {
    width: 100vw;
}

.footer__routes {
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer__ul{
    justify-content: space-around;
    height: 100%;
    list-style: none;
}

.footer__ul a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.footer__networks{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__icon {
    width: 10vw;
    color: rgb(255, 255, 255);
}

.footer__icon:hover {
    color: #77BDA3
}

.footer__ul li a:hover {
    color: #77BDA3
}

@media screen and (min-width: 800px) {
   
    .footer__height{
        height: 13vh;
        margin: 0px;
    }
    .footer__left {
        flex-direction: row;
        justify-content: space-between;
        width: 40vw;
    }
    
    .footer__rigth p{
        color: rgb(255, 255, 255);
    }
    .footer__containerLogo {
        width: 33vw;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .footer__networks {
        display: flex;
        width: 13vw;
        justify-content: space-between;
    }
    .footer__icon {
        width: 2vw;
        height: 3vh;
    }
    .footer__routes {
        display: flex;
        flex-direction: row;
        width: 25vw;
        height: 15vh;
        justify-content: space-between;
        align-items: center;
    }
}