.containerNav {
    background-color: #ffffff;
}
.marginContainersNav{
    margin: 0vh 8vw;
}
.containerContentNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9vh;
    overflow: hidden;
}
.routesNav {
    display: flex;
    list-style: none;
    width: 40vw;
    justify-content: space-around;
}
.routesNav li{
    height: 9vh;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.routesNav li a {
    text-decoration: none;
}
.routesNav li:hover{
    border-bottom: #00c1c2 2px solid;
}
.routesNav li:hover a{
    color: rgb(41, 41, 41);
}

@media screen and (min-width: 800px) {
    
    .routesNav li a {
        text-decoration: none;
        font-weight: 600;
    }
}