.containerNav {
    background-color: #ffffff;
}
.marginContainersNav{
    margin: 0vh 5vw;
}
.containerContentNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9vh;
    overflow: hidden;
}
.logoNav {
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.containerLogo{
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: center;
    align-items: center;
    width: 50px;
    
}
.logo{
    width: 7px; 
    height: 25px;
    margin: 1.4px;  
}
.logoNav p{
    margin-left: 1px;
    font-size: 1.3rem;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    color: rgb(41, 41, 41);
}
.routesNav {
    display: flex;
    list-style: none;
    width: 40vw;
    justify-content: space-around;
}
.routesNav li{
    height: 9vh;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.routesNav li a {
    text-decoration: none;
}
.routesNav li:hover{
    border-bottom: #00c1c2 2px solid;
}
.routesNav li:hover a{
    color: rgb(41, 41, 41);
}

@media screen and (min-width: 800px) {
    
    .logoNav {
        flex-direction: row;
        font-size: 1.3rem;
        font-weight: 600;
    }

    .routesNav li a {
        text-decoration: none;
        font-weight: 600;
    }
}