.containerNav {
    background-color: #ffffff;
}
.routesNav {
    display: flex;
    list-style: none;
    width: 40vw;
    justify-content: space-around;
}
.routesNav li{
    display: flex;
    align-items: center;
    justify-content: center;
}
.routesNav li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 5vw;
}
.routesNav li:hover{
    border-bottom: #00c1c2 2px solid;
}
.routesNav li:hover a{
    color: rgb(41, 41, 41);
}

@media screen and (min-width: 800px) {
    .containerNav {
        background-color: #ffffff;
    }
    
    .routesNav li a {
        text-decoration: none;
        font-weight: 600;
    }
}