.title__container{
    width: 100vw;
}
.title{
    margin-bottom: 3vh;
}
.title__container p{
    line-height: 1.5rem;
}
@media screen and (min-width: 800px) {
    .title__container{
        margin: 10vh 0px;
    }
    .title__container{
        width: 40vw;
    }
}