.containerFormArticles{
    background-color: rgb(247, 247, 247);
    overflow: hidden;
    box-shadow: -1px 2px 2px -1px #0000000F;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 2vh;
}
.labelSpanForm span{
    color: crimson;
    margin-left: 10px;
    font-size: 0.8rem;
}
.divForm{
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
}
.divForm label{
    color: #2D314E;
    font-weight: 600;
    margin-bottom: 5px;
}
.divForm input{
    height: 5vh;
    width: 80vw;
    border: #D1D5DB 1px solid;
    padding: 5px;
}
.divForm textarea{
    height: 30vh;
    border: #D1D5DB 1px solid;
    padding: 5px;
}
.btnfrom{
    width: 100%;
}


@media screen and (min-width: 800px) {
    .divForm input{
        width: 40vw;
    }
}