/******************************* Component Welcome *******************************/
.containerHome {
    background-color: #F4F5F7;
}

.containerWelcome {
    display: flex;

    width: 100vw;
    height: 90vh;
    justify-content: center;
}

.containerImages {
    display: none;
}

.containertextWelcome {
    width: 90vw;

    display: flex;
    justify-content: center;
    align-items: center;

}

.centertextWelcome {
    flex-direction: column;
}


.text {
    margin: 20px 0px;
}


/****************************** Component Presentation *******************************/

.containerPresentation {
    background-color: #FAFAFA;
    overflow: hidden;
}


.textPresentation {
    margin: 5vh 0vh;
}

.textPresentation h2 {
    text-align: center;
}

.textPresentation span {
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.spanPresentation {
    width: 100vw;
}

.containerCardsPresentation {
    width: 90vw;
    overflow: hidden;
}

.cardsPresentation {
    width: 90vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iconPresentation {
    width: 15vw;
    height: 15vw;
    margin: 30px 0px;
    border-radius: 50%;
    background-image: linear-gradient(to right top, #31cf70, #00cc94, #00c7b0, #00c1c2, #2cb9cb);
    justify-content: center;
    align-items: center;
    display: flex;
}

.cardsPresentation p {
    margin-top: 10px;
    text-align: center;

}


/****************************** Component LastArticles ******************************************/



.containerLastArticles {
    background-color: #F4F5F7;
}


.containerTitleLastArticle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5vh;
}


.containerCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}


/****************************** Component Articles ******************************************/



.containerArticles {
    background-color: #F9F9F9;
}

.containerArticlesPrevius {
    margin: 10vh 0vw;
}

.articlesPreviusText {
    margin-bottom: 5vh;
}

.containerArticlesList {
    margin-top: 5vh;
}

.containerListArtLast {
    padding: 1.5vh 1.5vw;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr repeat(2, 2fr) 1fr 0.3fr;
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    align-items: center;
}
.toplistArtPrevius{
    font-weight: 600;
    font-size: 0.9rem;
}
.textCenterArt{
    text-align: center;
}
.containerListArtLast h4{
    text-align: center;
    padding: 10px;
}
.containerListArtLast p{
    padding: 10px;
}
.editTextList{
    color: #31cf70;
    font-weight: 600;
}
.bgGray{
    background-color: #F4F5F7;
}
.bgWhite{
    background-color: white;
}

@media screen and (min-width: 800px) {
    .containerWelcome {
        width: 90vw;
        display: flex;
        height: 90vh;
        justify-content: space-between;
    }

    .containertextWelcome {
        width: 50vw;
    }

    .containerImages {
        display: block;
        width: 40vw;
    }

    .containerImages img {
        position: absolute;
        width: 50vw;
    }

    .centertextWelcome h2 {
        font-size: 4rem;
        font-weight: 600;
    }


    .textPresentation h2 {
        font-size: 3rem;
        font-weight: 600;
        text-align: start;
    }

    .spanPresentation {
        width: 60vw;
    }

    .containerCardsPresentation {
        display: flex;
        justify-content: space-between;
    }

    .cardsPresentation {
        width: 20vw;
        height: auto;
        margin: 10px;
        align-items: flex-start;
    }

    .cardsPresentation h4 {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .cardsPresentation p {
        word-spacing: 3px;
        line-height: 25px;
        text-align: start;
    }

    .iconPresentation {
        width: 5vw;
        height: 5vw;
    }


    .containerCards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0px;
    }

}