.pagination{
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
}
.centerPagination{
    display: flex;
}
.arrow{
    display: flex;
    align-items: center;
    text-align: center;
}
.arrow p{
    margin: 0px 15px;
}
.arrowPaginationPrev{
    width: 200px;
    display: flex;
}
.arrowPaginationNext{
    width: 200px;
    display: flex;
}
.containerPageNum{
    display: flex;
    padding: 5px;
    cursor: pointer;
}
.pageNum{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 35px;
    height: 35px;
    text-align: center;
    font-weight: 600;
}
.pageNum:focus{
    border-top: 3px solid #84E1A7;
}
.breakPagination{
    margin: 0px 10px;
    text-align: center;
    font-weight: 600;
}
.active{
    color: #84E1A7;
    font-weight: 800;
}

@media screen and (min-width: 800px){
    .pagination{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 5vh;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .arrowPaginationPrev{
        width: 100px;
        cursor: pointer;
        position: absolute;
        left:20px;
        text-align: center;
        font-weight: 600;
    }
    .arrowPaginationNext{
        width: 100px;
        cursor: pointer;
        position: absolute;
        text-align: center;
        right:0px;
        font-weight: 600;
    }
}
