.lastArticle__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lastArticle__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

/************** Card ***************/

.lastArticle__card {
    width: 90vw;
    margin: 5vh 0px;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 50vh;
}

.lastArticle__card img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 30vh;
    width: 100%;
}

.containerTextCard {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 10px;
}

.containerTextCard {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerTextCard span {
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.containerTextCard h4 {
    font-size: 1.5rem;
    margin: 10px 0px;
}

.containerTextCard p {
    color: rgb(102, 101, 101);
    text-overflow: ellipsis;
}

@media screen and (min-width: 800px) {
    .lastArticle__cards {
        flex-direction: row;
        justify-content: space-between;
    }

    .lastArticle__card {
        width: 20vw;
        margin: 0vh 0px;
        height: 70vh;
    }

    .containerTextCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .containerTextCard span {
        align-items: flex-start;
    }
    
    .containerTextCard h4 {
        font-size: 1.5rem;
        margin: 10px 0px;
    }
    
    .containerTextCard p {
        color: rgb(102, 101, 101);
        text-overflow: ellipsis;
    }
    .divForm input {
        width: 40vw;
    }
}