.lastArticle__center{
    display: flex;
    align-items: center;
}
.lastArticle__title {
    justify-content: space-between;
}

.lastArticle__cards {
    flex-direction: column;
}

/************** Card ***************/

.lastArticle__card {
    width: 90vw;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 50vh;
}

.lastArticle__card img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 30vh;
    width: 100%;
}

.lartArticle__text {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.lartArticle__text span {
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.lartArticle__text h4 {
    font-size: 1.5rem;
    margin: 10px 0px;
}

.lartArticle__text p {
    text-overflow: ellipsis;
}

@media screen and (min-width: 800px) {
    .lastArticle__cards {
        flex-direction: row;
        justify-content: space-between;
    }

    .lastArticle__card {
        width: 20vw;
        height: 70vh;
    }

    
    .lartArticle__text span {
        align-items: flex-start;
    }
    
    .lartArticle__text h4 {
        font-size: 1.5rem;
        margin: 10px 0px;
    }
    
    
    
}