@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,600;0,800;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
  color: rgb(41, 41, 41);
  font-weight: 600;
}
p, span, a{
  color: rgb(116, 116, 116);
}
h2{
  font-size: 3rem;
}
.btnNav {
  padding: 10px;
  width: 30vw;
  border: none;
  border-radius: 40px;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  background-image: linear-gradient(to right top, #31cf70, #00cc94, #00c7b0, #00c1c2, #2cb9cb);
  cursor: pointer;
  transition: all 0.3s ease;
}
.btnNav:hover{
  filter: brightness(1.2);
}
.paralelogramoLeft {
  background-image: linear-gradient(to right top, #31cf70, #00cc94, #00c7b0, #00c1c2, #2cb9cb);
  -webkit-transform: skew(-25deg);
  -moz-transform: skew(-25deg);
  -ms-transform: skew(-25deg);
  -o-transform: skew(-25deg);
  transform: skew(-25deg);
}
.paralelogramoMid {
  background-image: linear-gradient(to right top, #31cf70, #00cc94, #00c7b0, #00c1c2, #2cb9cb);
  -webkit-transform: skew(-25deg);
  -moz-transform: skew(-25deg);
  -ms-transform: skew(-25deg);
  -o-transform: skew(-25deg);
  transform: skew(-25deg);
}
.paralelogramoRight {
  background-image: linear-gradient(to right top, #31cf70, #00cc94, #00c7b0, #00c1c2, #2cb9cb);
  -webkit-transform: skew(-25deg);
  -moz-transform: skew(-25deg);
  -ms-transform: skew(-25deg);
  -o-transform: skew(-25deg);
  transform: skew(-25deg);
}
@media screen and (min-width: 800px){
  .btnNav{
    width: 14vw;
  }
}